<div [style.width]="gameWidth + 'px'" [style.height]="gameHeight + 'px'">
    <div *ngIf="gameTiles" (keydown)="handleKeyboardEvent($event)" tabindex="0" style="position: relative;">
        <div *ngFor="let y of YViewingRange; let yIndex = index" style="position: relative;">
            <ng-container *ngFor="let x of XViewingRange; let xIndex = index">
                <div *ngIf="getTile(x,y).type == 'floor' || getTile(x,y).type == 'door'" [style.position]="'absolute'" [style.left]="(xIndex*blockSize) + 'px'"
                    [style.top]="(yIndex*blockSize) + 'px'" [style.width]="blockSize + 'px'"
                    [style.height]="blockSize + 'px'"
                    [style.background-color]="'white'">
                    <app-game-tile-character [xCoord]="x" [yCoord]="y"></app-game-tile-character>
                </div>
                <div *ngIf="getTile(x,y).type == 'space'" [style.position]="'absolute'" [style.left]="(xIndex*blockSize) + 'px'"
                    [style.top]="(yIndex*blockSize) + 'px'" [style.width]="blockSize + 'px'"
                    [style.height]="blockSize + 'px'" [style.opacity]="getTile(x,y).opacity"
                    [style.background-color]="'black'">
                </div>
                <div *ngIf="getTile(x,y).type == 'switch'" [style.position]="'absolute'" [style.left]="(xIndex*blockSize) + 'px'"
                    [style.top]="(yIndex*blockSize) + 'px'" [style.width]="blockSize + 'px'"
                    [style.height]="blockSize + 'px'">
                    <img width="100%" height="100%"
                        [src]="'assets/items/computer.jpg'">
                </div>
            </ng-container>

        </div>
    </div>
</div>