<div>
    <div *ngIf="!Me && colors.length > 0" style="display: flex; flex-direction: column;">
        <input id="name" type="text" [(ngModel)]="name">
        <select [(ngModel)]="color">
            <ng-container *ngFor="let color of colors">
                <option [value]="color">{{color}}</option>
            </ng-container>
        </select>
        <button (click)="createPlayer()">Create player</button>
    </div>
    <div *ngIf="Me" style="display: flex; flex-direction: column; padding: 10px; justify-content: center;">
        <img [src]="'assets/characters/' + Me.color + '.png'">
        <div style="text-align: center; color: white">{{Me.name}}</div>
        <div *ngIf="Me.imposter" style="text-align: center; color: white">Imposter</div>
        <div *ngIf="!Me.alive" style="text-align: center; color: red">DEAD</div>

    </div>
</div>
